@keyframes backgroundAnimation {
    0%, 14.2857% {
      background-image: url('../../media/backgrounds/pixel-dots.svg');
    }
    14.2858%, 28.5714% {
        background-image: url('../../media/backgrounds/fabric_flowers_bg.jpg');
    }
    28.5715%, 42.8571% {
      
    }
    42.8572%, 57.1428% {
      
    }
    57.1429%, 71.4285% {
      
    }
    71.4286%, 85.7142% {
        background-image: url('../../media/backgrounds/retro70s_bg.svg');
    }
    85.7143%, 100% {
      
    }
  }
  


  @mixin backgroundCycleAnimation($duration: $font-animation-duration) {
    animation-name: backgroundAnimation;
    animation-duration: $duration;
    animation-iteration-count: infinite;
  }

  .cycling-background {
    @include backgroundCycleAnimation;
    transition: none;
    transition-duration: 0s;
  }

  .funky-background {
    background-image: url('../../media/backgrounds/cheese_bg.svg');
  }